<style>
    #kontakt, #rezerviraj {
        text-decoration: underline
    }
    body {
        background: white;
    }

</style>

<br />
<h2>За Автокамп Отешево</h2>
<hr />
<h4 style="color: #a656bd; font-weight: bold; ">Добредојдовте на веб-страната на Автокамп Отешево.</h4>
<br />
<div id="tekst">
    <p>
        Вашето присуство е добредојдено и во нашиот камп, 
        после кое сме сигурни дека ќе станете наш редовен гостин.
    </p>
    <p>
        Преку нашата веб-страна Ви нудиме пристап до клучните информации
        поврзани со Автокампот, но исто така и ние Ви стоиме на располагање
        за секое ваше дополнително прашање → @Html.ActionLink("Контактирајте не", "Contact", "Home", null, new {@id="kontakt"})
    </p>
    <p>
        Доколку веќе сме одговориле на сите ваши прашања, тогаш не чекајте →
        @Html.ActionLink("Резервирајте го вашето место, веднаш!", "Create2", "Reservations", null, new { @id = "rezerviraj" })

    </p>
    <p style="font-weight: bold; color: #a656bd; font-size: 18px">
        Ве очекуваме!
    </p>
</div>
